body {
	background: rgb(89, 88, 88);
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	color: rgb(47, 79, 79);
	text-align: center;
}
.project { 
    /* make the blobs float side-by-side */
	display:flex; 
	flex-wrap:wrap;  
} 
.about-content h2 {
    /* display the h2 on its own line, not with the section blobs */
	width: 100%;
}
.project {
    /* form the section blobs */
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: lightslategray;
    /* rounded corners for the blobs */
    border-radius: 25%;
}
.project h3 {
    /* pull the h3 text away from the left blob wall */
    margin-left: 50px;
}
.project img {
    /* adjust your image sizes as needed */
    width: 300;
    height: 300px;
    margin: 10px auto;
    border: 2px solid navy;
    display: block;
    /* center the images inside the blobs */
    text-align: center;
}
.project p {
    /* center the p text in the blob */
    text-align: center;
    margin: 15px;
}
